# Automatically load the Nix development environment
# Requires: direnv (https://direnv.net/)
#
# Installation:
#   1. Install direnv: https://direnv.net/docs/installation.html
#   2. Hook into your shell: https://direnv.net/docs/hook.html
#   3. Run: direnv allow
#
# This will automatically activate the Nix flake development shell
# when you cd into this directory.

use flake

# Watch the flake.nix file for changes
watch_file flake.nix
watch_file flake.lock
